* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
}

.clearfix {
	overflow: auto;
}

#content{
	float: left;
	width:85%;
	overflow:scroll;
	word-wrap: break-word;
	background:	rgba(192,192,192,0.3);
}

#note {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 33px;
	width: 15%;
	height: 100%;
	background-color: rgba(51, 102, 204, 0.8);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#note h1{
	text-align: center;
}


form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

form input {
	border: 0;
	padding: 0px;
	width: 90%;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: .5%;
	height: 40px;
	font-size: 20px;
}

form button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size:30px;
	//box-shadow: 0px 1px 0.5px grey;
}

#messages li {
	padding: 5px 10px;
	box-shadow: 0px 2px 1px grey;
}
.user{
	background-color:#C6E2FF;
}
//#messages li:nth-child(odd) {
//	background:	rgba(192,192,192,0.3);
//}

